# Compiled Object files
**/build/OBJ/**/*.o
**/build/OBJ/**/*.so

# Dependency Files
**/build/DEPS/**/*.d

# Executables
build/EXE/anaplace
build/EXE/maize-router
build/EXE/test-netlist
branch-and-bound/build/EXE/sat-maxer

# YCM compiled config
.ycm_extra_conf.pyc

# misc
*.sublime-workspace
test/runs/*
*.xoj.bak
*.autosave.xoj
*.swp
lab*-*.pdf
exer*.pdf
.~lock*.ods#

#suitesparse
SuiteSparse/**/*.o
SuiteSparse/**/*.a
SuiteSparse/**/*.so*
SuiteSparse/share/*
SuiteSparse/lib/*

SuiteSparse/*/Lib/*.o
SuiteSparse/*/Lib/*.a
SuiteSparse/*/Lib/*.so*
